apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ sno_cluster_name }}
  namespace: {{ sno_cluster_name }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: "{{ sno_cluster_name }}"
  labels:
    installenvs.agent-install.openshift.io: "{{ sno_cluster_name }}"
spec:
  bootMode: "legacy"
  bmc:
    address: redfish-virtualmedia+http://{{vmhost_public_ip}}:{{vmhost_bmc_port}}/redfish/v1/Systems/{{ sno_vm_uuid }}
    disableCertificateVerification: true
    credentialsName: {{ sno_cluster_name }}-bmc-secret
  bootMACAddress: {{ vm_mac_address_prefix }}:{{ vm_mac_host_index }}:{{ vm_mac_vm_index }}
  automatedCleaningMode: disabled
  online: true
  image:
    format: "live-iso"
    url: URL