apiVersion: v1
data:
  password: {{bmc_password_base64}}
  username: {{bmc_username_base64}}
kind: Secret
metadata:
  name: {{ sno_cluster_name }}-bmc-secret
  namespace: {{ sno_cluster_name }}
type: Opaque
