apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ sno_cluster_name }}
  namespace: {{ sno_cluster_name }}
spec:
  clusterName: {{ sno_cluster_name }}
  clusterNamespace: {{ sno_cluster_name }}
  applicationManager:
    enabled: true
  certPolicyController:
    enabled: true
  clusterLabels:
    cloud: auto-detect
    vendor: auto-detect
  iamPolicyController:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true