apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: cluster_name
  namespace: cluster_name
spec:
  clusterRef:
    name: cluster_name
    namespace: cluster_name
  sshAuthorizedKey: public_key
  agentLabelSelector:
    matchLabels:
      bla: aaa
  pullSecretRef:
    name: assisted-deployment-pull-secret
  nmStateConfigLabelSelector:
    matchLabels:
      acm-ai-sno-test-cluster_name: cluster_name