apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: {{s3_bucket_name}}
      endpoint:  {{s3_endpoint}}
      insecure: false
      access_key: {{s3_access_key}}
      secret_key: {{s3_secret_key}}
