apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ sno_cluster_name }}
  namespace: {{ sno_cluster_name }}
spec:
  baseDomain: {{sno_cluster_name_domain}}
  clusterName: {{ sno_cluster_name }}
  platform:
    agentBareMetal:
      apiVIP: ""
      ingressVIP: ""
      vipDHCPAllocation: "Enabled"
      agentSelector:
        matchLabels:
          bla: aaa
  provisioning:
    imageSetRef:
      name: openshift-4.8.0-fc.0
    sshPrivateKeySecretRef:
      name: assisted-deployment-ssh-private-key
    installStrategy:
      agent:
        sshPublicKey: {{ sno_public_key }}
        networking:
          networkType: OVNKubernetes
          clusterNetwork:
            - cidr: 10.128.0.0/14
              hostPrefix: 23
          serviceNetwork:
            - 172.30.0.0/16
          machineNetwork:
            - cidr: {{public_ip_network}}
        provisionRequirements:
          controlPlaneAgents: 1
          workerAgents: 0
        agentSelector:
          matchLabels:
            bla: aaa
  pullSecretRef:
    name: assisted-deployment-pull-secret
